<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
	<style type="text/css"></style>
	<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Merchants/css/indexT.css">

	<script type="text/javascript" src="__PUBLIC__/Merchants/js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Merchants/js/bootstrap.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Merchants/js/index.js"></script>
</head>
<body>
	<!-- 头部开始 -->

	<header class="header">
		<!-- 顶部导航条 -->
		<div class="header_m">
			<div class="header_one">
				<a href="#"><span class="glyphicon glyphicon-phone" style="font-size: 15px"></span>手机版</a><span class="shuaxian"> | </span>
				<a href="#" style="color:#ff7300">广州璟霸商贸<img src="__PUBLIC__/Merchants/images/2566982_204222439.png"><span class="glyphicon glyphicon-chevron-up" style="color:#ccc"></span><span class="shuaxian"> | </span></a>
				<a href="#">消息</a>
			</div>
			<div class="header_two">
				<ul>
					<li><a href="#">我的首页</a><span class="shuaxian">|</span></li>
					<li><a href="#">我的后台</a><span class="shuaxian">|</span></li>
					<li><a href="#">进货单</a><span class="shuaxian">|</span></li>
					<li><a href="#">收藏夹</a><span class="shuaxian">|</span></li>
					<li><a href="#">诚信通服务</a><span class="shuaxian">|</span></li>
					<li><a href="#">实力商家</a><span class="shuaxian">|</span></li>
					<li><a href="#">我是供应商</a><span class="shuaxian">|</span></li>
					<li><a href="#">客服中心</a><span class="shuaxian">|</span></li>
					<li><a href="#">网址导航</a></li>
				</ul>
			</div>
		</div>
		<!-- 顶部导航条下的导航 -->
		<div class="header_n">
			<div class="header_no">
				<div class="logo">
					<img src="__PUBLIC__/Merchants/images/2575699_790723559.png">
					<a href="#">卖家中心</a>
					<span class="glyphicon glyphicon-chevron-down"></span>
				</div>
				<div class="header_nnav">
					<a href="#">首页管理</a>
					<a href="#">供应管理</a>
					<a href="#">相册管理</a>
					<a href="#">动态管理</a>
					<a href="#">档案管理</a>
					<a href="#">询价管理</a>
				</div>
				<div class="header_ni">
					<div class="input-group">  
					     <span class="input-group-btn">  
					          <select class="btn btn-default" id="schema">  
						          <option>服务</option>  
						          <option>公司</option>  
						          <option>产品</option>  
						          <option>求购</option>  
						          <option>咨询</option>  
					          </select>  
					     </span>  
					     <input type="text" class="form-control seach">  
					</div> 
					 <a href="#" class="seac" style="position:relative;top:-58px;display: inline-block;width:50px;height:34px;left:344px;color:#ccc;z-index: 999;line-height:34px;font-size:18px;"><span class='glyphicon glyphicon-search' ></span></a>
				</div>
			</div>
		</div>
	</header>
	<!-- 主题开始 -->



</body>
</html>