<!DOCTYPE html>
<html lang="en" style="float:right">
<head>
	<meta charset="UTF-8">
	<title>admin后台管理中心</title>
	<style type="text/css"></style>
	<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Merchants/css/indexT.css">

	<script type="text/javascript" src="__PUBLIC__/Merchants/js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Merchants/js/bootstrap.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Merchants/js/index.js"></script>
</head>
<body>

	<main class="main">
	<!-- 左边导航部分 -->
		<div class="main_l">
			<div class="main_lone">
				<img src="__PUBLIC__/Merchants/images/2095504_1681200473.png">
				旺铺
			</div>
			<div class="main_ltwo" >
				<div class="main_lp" id="main_tw">
				<span class='glyphicon glyphicon-chevron-down'></span>
				旺铺管理
				</div>
				<ul>
					<li style="background:#0063FD;" id="materialA"><a href="{{:U('Public/index')}}" target="right" id='main' style='color:#fff;'>我的旺铺资料</a></li>
					<li><a href="{{:U('Public/index')}}" target="right" id='main'>旺铺装修</a></li>
					<li id="customA" ><a href="{{:U('Column/index')}}" target="right">产品自定义分类</a></li>
				</ul>
			</div>
			<div class="main_lthree">
				<div class="main_lp" id="main_th">
				<span class='glyphicon glyphicon-chevron-down'></span>
				公司管理
				</div>
				<ul>
					<li><a href="#">公司介绍</a></li>
					<li><a href="#">公司店铺管理</a></li>
				</ul>
			</div>
			<div class="main_lfour">
				<div class="main_lp" id="main_fo">
				<span class='glyphicon glyphicon-chevron-down'></span>
				存储空间
				</div>
				<ul>
					<li><a href="#">上传图片</a></li>
					<li><a href="#">管理相册</a></li>
					<li><a href="#">设置水印</a></li>
				</ul>
			</div>
			<div class="main_lfive">
				<div class="main_lp" id="main_fi">
				<span class='glyphicon glyphicon-chevron-down'></span>
				旺铺服务
				</div>
				<ul>
					<li><a href="#">推荐公司相册</a></li>
					<li><a href="#">设置相册效果</a></li>
					<li><a href="#">公司动态</a></li>
					<li><a href="#">友情链接</a></li>
					<li><a href="#">绑定顶级域名</a></li>
					<li><a href="#">企业在线</a></li>
				</ul>
			</div>
			<div class="main_lsex">
				<div class="main_lp">
				<img src="__PUBLIC__/Merchants/images/2465413_790723559.png">
				分销管理
				</div>
				
			</div>

		</div>
	</main>
	<!-- 底部开始 -->
	<footer>



	</footer>

</body>
</html>