<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>admin后台管理中心</title>
	<style type="text/css"></style>
</head>    
    <frameset rows="90,*" cols="*" frameborder="no" border="0" framespacing="0" >
    <frame src="{{:U('Public/header')}}" id="topFrame" scrolling="no">
    <frameset cols="28%,*" id="bodyFrame"  frameborder="no" border="0" framespacing="0" >
        <frame src="{{:U('Public/left')}}" name="left" id="left"  scrolling="no">
        <frame src="{{:U('Public/index')}}" name="right" id="right"  scrolling="auto"></frame>
    </frameset>
</frameset>

</html>