<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>云狄B2B网站首页</title>
<link href="__PUBLIC__/css/index.css" rel="stylesheet" type="text/css">		
<script type="text/javascript" src="__PUBLIC__/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/js.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/nav.js"></script>
</head>

<body>
<!--头部开始-->
<include file="./header" />
<!--头部结束-->
  <section class="prod">
		<h6><a href="#" target="_blank">全部</a> >    找到<span>1000</span>件相关产品</h6>
        <div class="group">
			<div class="row J_Row row-first" id="J_NavCommonRowItems_0" >
				<div class="head1">
					<h5><span class="title" title="品牌">品牌</span>:</h5>
				</div>
				<div class="body">
					<div class="items">

					<a href="javascript:void(0)" class="item" title="0级">
						<input class="bginput" type="checkbox" name="">
						<span class="text">0级</span>
					</a> 

					<a href="javascript:void(0)" class="item" title="环球">
						<input class="bginput" type="checkbox" name="">
						<span>环球</span>
					</a> 
					<a href="javascript:void(0)" class="item" title="老北京布鞋">
						<input class="bginput" type="checkbox" name="">
						<span>老北京布鞋</span>
					</a> 
					<a href="javascript:void(0)" class="item" title="Josiny/卓诗尼">
						<input class="bginput" type="checkbox" name="">
						<span>Josiny/卓诗尼</span>
					</a> 
					<a href="javascript:void(0)" class="item" title="达芙妮">
						<input class="bginput" type="checkbox" name="">
						<span>达芙妮</span>
					</a> 
					<a href="javascript:void(0)" class="item" title="人本">
						<input class="bginput" type="checkbox" name="">
						<span>人本</span>
					</a> 
					<a href="javascript:void(0)" class="item" title="DD&OO">
						<input class="bginput" type="checkbox" name="">
						<span>DD&OO</span>
					</a> 
					<a href="javascript:void(0)" class="item" title="百丽">
						<input class="bginput" type="checkbox" name="">
						<span>百丽</span>
					</a> 
					<a href="javascript:void(0)" class="item" title="骆驼">
						<input class="bginput" type="checkbox" name="">
						<span>骆驼</span>
					</a> 
					<a href="javascript:void(0)" class="item" title="蓓尔">
						<input class="bginput" type="checkbox" name="">
						<span>蓓尔</span>
					</a> 					
					<a href="javascript:void(0)" class="item" title="回力">
						<input class="bginput" type="checkbox" name="">
						<span>回力</span>
					</a> 
					<a href="javascript:void(0)" class="item" title="YOBN/优步">
						<input class="bginput" type="checkbox" name="">
						<span>YOBN/优步</span>
					</a> 
					<a href="javascript:void(0)" class="item" title="远步">
						<input class="bginput" type="checkbox" name="">
						<span>远步</span>
					</a> 
					<a href="javascript:void(0)" class="item" title="Keds">
						<input class="bginput" type="checkbox" name="">
						<span>Keds</span>
					</a> 
					<div style="clear:both"></div>
				</div>
					<div class="btns">
						<span class="submit" >提交</span>
						<span class="cancel">取消</span>						
					</div>
					<div style="clear:both"></div>
				</div>
				<div class="foot">
					<span class="mollch"><a href="javascript:void(0)" >多选</a></span>
					<span class="molls"><a href="javascript:void(0)">&nbsp;</a><img class="mollch moll" src="__PUBLIC__/images/161104143402.png"></span>
					<span class="back">收起</span>
				</div>
			</div>
			<div class="row J_Row hide-toggle" id="J_NavCommonRowItems_1">
				<div class="head1">
					<h5><span class="title" title="分类">分类</span>:</h5>
				</div>
				<div class="body">
					<a href="javascript:void(0)" class="item" title="服饰鞋包">
						<input class="bginput1" type="checkbox" name="">
						<span>服饰鞋包</span>
					</a> 
					<a href="javascript:void(0)" class="item" title="女鞋">
						<input class="bginput1" type="checkbox" name="">
						<span>女鞋</span>
					</a> 
					<a href="javascript:void(0)" class="item" title="休闲鞋">
						<input class="bginput1" type="checkbox" name="">
						<span>休闲鞋</span>
					</a> 
					<a href="javascript:void(0)" class="item" title="运动鞋（休闲）">
						<input class="bginput1" type="checkbox" name="">
						<span>运动鞋（休闲）</span>
					</a> 
					<a href="javascript:void(0)" class="item" title="帆布鞋">
						<input class="bginput1" type="checkbox" name="">
						<span>帆布鞋</span>
					</a> 
					<a href="javascript:void(0)" class="item" title="男鞋">
						<input class="bginput1" type="checkbox" name="">
						<span>男鞋</span>
					</a> 
					<div style="clear:both"></div>
					<div class="btns1">
						<span class="submit1">提交</span>
						<span class="cancel1">取消</span>
					</div>
					<div style="clear:both"></div>
				</div>
				<div class="foot">
					<span class="mollch1"><a href="javascript:void(0)">多选</a></span>
					<span class="molls1"><a href="javascript:void(0)">&nbsp;</a><img class="mollch1 moll" src="__PUBLIC__/images/161104143402.png"></span>
					<span class="back1">收起</span>										
				</div>
			</div>	
			<div class="row J_Row hide-toggle" id="J_NavCommonRowItems_2">	
				<div class="head1">
					<h5><span class="title" title="风格">风格</span>:</h5>
				</div>
				<div class="body">
				<a href="javascript:void(0)" class="item" title="韩范儿">
						<input class="bginput2" type="checkbox" name="">
						<span>韩范儿</span>
					</a> 
					<a href="javascript:void(0)" class="item" title="一脚蹬">
						<input class="bginput2" type="checkbox" name="">
						<span>一脚蹬</span>
					</a> 
					<a href="javascript:void(0)" class="item" title="韩范儿">
						<input class="bginput2" type="checkbox" name="">
						<span>韩范儿</span>
					</a> 
					<a href="javascript:void(0)" class="item" title="欧美风">
						<input class="bginput2" type="checkbox" name="">
						<span>欧美风</span>
					</a> 
					<a href="javascript:void(0)" class="item" title="松糕跟">
						<input class="bginput2" type="checkbox" name="">
						<span>松糕跟</span>
					</a> 
					<a href="javascript:void(0)" class="item" title="平底">
						<input class="bginput2" type="checkbox" name="">
						<span>平底</span>
					</a> 
					<a href="javascript:void(0)" class="item" title="情侣款">
						<input class="bginput2" type="checkbox" name="">
						<span>情侣款</span>
					</a> 
					<a href="javascript:void(0)" class="item" title="学院">
						<input class="bginput2" type="checkbox" name="">
						<span>学院</span>
					</a> 
					<a href="javascript:void(0)" class="item" title="韩范儿">
						<input class="bginput2" type="checkbox" name="">
						<span>韩范儿</span>
					</a> 
					<a href="javascript:void(0)" class="item" title="一脚蹬">
						<input class="bginput2" type="checkbox" name="">
						<span>一脚蹬</span>
					</a> 
					<a href="javascript:void(0)" class="item" title="韩范儿">
						<input class="bginput2" type="checkbox" name="">
						<span>韩范儿</span>
					</a> 
					<a href="javascript:void(0)" class="item" title="欧美风">
						<input class="bginput2" type="checkbox" name="">
						<span>欧美风</span>
					</a> 
					<a href="javascript:void(0)" class="item" title="松糕跟">
						<input class="bginput2" type="checkbox" name="">
						<span>松糕跟</span>
					</a> 
					<a href="javascript:void(0)" class="item" title="平底">
						<input class="bginput2" type="checkbox" name="">
						<span>平底</span>
					</a> 
					<a href="javascript:void(0)" class="item" title="情侣款">
						<input class="bginput2" type="checkbox" name="">
						<span>情侣款</span>
					</a> 
					<a href="javascript:void(0)" class="item" title="学院">
						<input class="bginput2" type="checkbox" name="">
						<span>学院</span>
					</a> 
					<div style="clear:both"></div>
					<div class="btns2">
						<span class="submit2">提交</span>
						<span class="cancel2">取消</span>
					</div>
				</div>
				<div class="foot">
					<span class="mollch2"><a href="javascript:void(0)">多选</a></span>
					<span class="molls2"><a href="javascript:void(0)">&nbsp;</a><img class="mollch2 moll" src="__PUBLIC__/images/161104143402.png"></span>
					<span class="back2">收起</span>
				</div>
			</div>
			<div class="row J_Row" id="J_NavCommonRowItems_3">
				<div class="head1">
					<h5><span class="title" title="图案">图案</span>:</h5>
				</div>
				<div class="body">				                                
				<a href="javascript:void(0)" class="item" title="纯色">
						<input class="bginput3" type="checkbox" name="">
						<span>纯色</span>
					</a> 
					<a href="javascript:void(0)" class="item" title="字母">
						<input class="bginput3" type="checkbox" name="">
						<span>字母</span>
					</a> 
					<a href="javascript:void(0)" class="item" title="拼色">
						<input class="bginput3" type="checkbox" name="">
						<span>拼色</span>
					</a> 
					<a href="javascript:void(0)" class="item" title="条纹">
						<input class="bginput3" type="checkbox" name="">
						<span>条纹</span>
					</a> 
					<a href="javascript:void(0)" class="item" title="中国风">
						<input class="bginput3" type="checkbox" name="">
						<span>中国风</span>
					</a> 
					<a href="javascript:void(0)" class="item" title="系列">
						<input class="bginput3" type="checkbox" name="">
						<span>系列</span>
					</a> 
					<a href="javascript:void(0)" class="item" title="星星">
						<input class="bginput3" type="checkbox" name="">
						<span>星星</span>
					</a> 
					<a href="javascript:void(0)" class="item" title="几何">
						<input class="bginput3" type="checkbox" name="">
						<span>几何</span>
					</a>         
					<a href="javascript:void(0)" class="item" title="笑脸">
						<input class="bginput3" type="checkbox" name="">
						<span>笑脸</span>
					</a>
					<a href="javascript:void(0)" class="item" title="logo">
						<input class="bginput3" type="checkbox" name="">
						<span>logo</span>
					</a>
					<a href="javascript:void(0)" class="item" title="猫">
						<input class="bginput3" type="checkbox" name="">
						<span>猫</span>
					</a>
					<div style="clear:both"></div>
					<div class="btns3">
						<span class="submit3">提交</span>
						<span class="cancel3">取消</span>
					</div>
				</div>
				<div class="foot">
					<span class="mollch3"><a href="javascript:void(0)">多选</a></span>
					<span class="molls3"><a href="javascript:void(0)">&nbsp;</a><img class="mollch3 moll" src="__PUBLIC__/images/161104143402.png"></span>
					<span class="back3">收起</span>
				</div>
			</div>
			<div class="row has-overlay" id="J_NavCommonRowItems_4">
				<div class="head1">
					<h5><span class="title" title="鞋头">鞋头</span>:</h5>
				</div>
				                           
				<div class="body">
					<a href="javascript:void(0)" class="item" title="圆头">
						<input class="bginput4" type="checkbox" name="">
						<span>圆头</span>
					</a>         
					<a href="javascript:void(0)" class="item" title="笑脸">
						<input class="bginput4" type="checkbox" name="">
						<span>笑脸</span>
					</a>
					<a href="javascript:void(0)" class="item" title="尖头">
						<input class="bginput4" type="checkbox" name="">
						<span>尖头</span>
					</a>
					<a href="javascript:void(0)" class="item" title="方头">
						<input class="bginput4" type="checkbox" name="">
						<span>方头</span>
					</a>
					<a href="javascript:void(0)" class="item" title="鱼嘴">
						<input class="bginput4" type="checkbox" name="">
						<span>鱼嘴</span>
					</a>
					<div style="clear:both"></div>
					<div class="btns4">
						<span class="submit4">提交</span>
						<span class="cancel4">取消</span>
					</div>

				</div>
				<div class="foot">
					<span class="mollch4"><a href="javascript:void(0)">多选</a></span>
					<span class="molls4"><a href="javascript:void(0)">&nbsp;</a><img class="mollch4 moll" src="__PUBLIC__/images/161104143402.png"></span>
					<span class="back4">收起</span>
				</div>
			</div>			
			<div class="row has-overlay">
				<div class="head1">
					<h5><span class="title" title="筛选">筛选</span></h5>
				</div>
				                           
				<div class="body select">
					<select>
						<option>鞋底材质</option>
						<option>鞋底材质</option>
						<option>鞋底材质</option>
						<option>鞋底材质</option>
						<option>鞋底材质</option>
					</select>
					<select>
						<option>季节</option>
						<option>季节</option>
						<option>季节</option>
						<option>季节</option>
						<option>季节季节</option>
					</select>
					<select>
						<option>装饰样式</option>
						<option>装饰样式</option>
						<option>装饰样式</option>
						<option>装饰样式</option>
						<option>装饰样式</option>
					</select>
					<select>
						<option>帮高</option>
						<option>帮高</option>
						<option>帮高</option>
						<option>帮高</option>
						<option>帮高帮高</option>
					</select>
					<select>
						<option>视觉效果</option>
						<option>视觉效果</option>
						<option>视觉效果</option>
						<option>视觉效果</option>
						<option>视觉效果</option>
					</select>
					<select>
						<option>鞋面材质</option>
						<option>鞋面材质</option>
						<option>鞋面材质</option>
						<option>鞋面材质</option>
						<option>鞋面材质</option>
					</select>

					<div style="clear:both"></div>
				</div>
			</div>

			</div>
      <!--相关条件查找-->
      <article class="Compre">
        <dl>
          <dt>综合<span>|</span></dt>
          <dt>销量<span>|</span></dt>
          <dt>最新<span>|</span></dt>
          <dt class="Compre_i"><input type="text" name="" placeholder="￥" value="" ><span>-</span><input type="text" value="" placeholder="￥"></dt>
          <dt><button>确定</button></dt>
          <div class='cl'></div>
        </dl>
        <ul class="Compre_u">
          <li>30-50</li>
          <li>50-80</li>
          <li>80-100</li>
          <div class="cl"></div>
        </ul>
        <div class="Compre_d">
          <h4>所在地区&nbsp;<span><img src="__PUBLIC__/images/xiala.jpg"></span><div class="Compre_T">
              <div class="Compre_Td">     
                 <div class="misc g-clearfix">       
                   <div class="guess">同城: <a   trace="seller_location" trace-tracetype="1_广州" style="font-size:16px;font-weight:800;">广州</a></div>               
                </div>
                   <div class="deline"></div>
              </div> 
              <!-- 第一段开始 -->
              <div class="Compre_Td">        
                <ul class="Compre_Tits g-clearfix">
                  
                    <li class="Compre_Tit">
                      <a href="#" trace-tracetype="3_北京">北京</a>
                    </li>
                  
                    <li class="Compre_Tit">
                      <a href="#"  trace-tracetype="3_上海" data-spm-anchor-id="a230r.1.0.0">上海</a>
                    </li>
                  
                    <li class="Compre_Tit">
                      <a href="#"  trace-tracetype="3_广州">广州</a>
                    </li>
                  
                    <li class="Compre_Tit">
                      <a href="#"  trace-tracetype="3_深圳">深圳</a>
                    </li>
                  
                    <li class="Compre_Tit">
                      <a href="#"  trace-tracetype="3_杭州">杭州</a>
                    </li>
                  
                    <li class="Compre_Tit">
                      <a href="#"  trace-tracetype="3_海外">海外</a>
                    </li>         
                    <li class="Compre_Tit">
                      <a href="#"  trace-tracetype="3_江浙沪">江浙沪</a>
                    </li>
                  
                    <li class="Compre_Tit">
                      <a href="#"  trace-tracetype="3_珠三角">珠三角</a>
                    </li>
                  
                    <li class="Compre_Tit">
                      <a href="#" trace-tracetype="3_京津冀">京津冀</a>
                    </li>
                  
                    <li class="Compre_Tit">
                      <a href="#"  trace-tracetype="3_东三省">东三省</a>
                    </li>
                  
                    <li class="Compre_Tit">
                      <a href="#"  trace-tracetype="3_港澳台">港澳台</a>
                    </li>
                  
                    <li class="Compre_Tit">
                      <a href="#" trace-tracetype="3_江浙沪皖">江浙沪皖</a>
                    </li>
                    <div class="cl"></div>
                </ul>
              </div>
              <!-- 第二段开始 -->
              <div class="Compre_Td">       
                <div class="deline"></div>       
                     <ul class="Compre_Tits g-clearfix">
                    
                      <li class="Compre_Tit">
                        <a href="#"  trace-tracetype="3_长沙">长沙</a>
                      </li>
                    
                      <li class="Compre_Tit">
                        <a href="#"  trace-tracetype="3_长春">长春</a>
                      </li>
                    
                      <li class="Compre_Tit">
                        <a href="#"  trace-tracetype="3_成都">成都</a>
                      </li>
                    
                      <li class="Compre_Tit">
                        <a href="#"   trace-tracetype="3_重庆">重庆</a>
                      </li>
                    
                      <li class="Compre_Tit">
                        <a href="#" trace-tracetype="3_大连">大连</a>
                      </li>
                    
                      <li class="Compre_Tit">
                        <a href="#" trace-tracetype="3_东莞">东莞</a>
                      </li>
                    
                      <li class="Compre_Tit">
                        <a href="#" trace-tracetype="3_佛山">佛山</a>
                      </li>
                    
                      <li class="Compre_Tit">
                        <a href="#" trace-tracetype="3_福州">福州</a>
                      </li>
                    
                      <li class="Compre_Tit">
                        <a href="#"  trace-tracetype="3_贵阳">贵阳</a>
                      </li>
                    
                      <li class="Compre_Tit">
                        <a href="#"  trace-tracetype="3_合肥">合肥</a>
                      </li>
                    
                      <li class="Compre_Tit">
                        <a href="#" trace-tracetype="3_金华">金华</a>
                      </li>
                    
                      <li class="Compre_Tit">
                        <a href="#"  trace-tracetype="3_济南">济南</a>
                      </li>
                    
                      <li class="Compre_Tit">
                        <a href="#"  trace-tracetype="3_嘉兴">嘉兴</a>
                      </li>
                    
                      <li class="Compre_Tit">
                        <a href="#"  trace-tracetype="3_昆明">昆明</a>
                      </li>
                    
                      <li class="Compre_Tit">
                        <a href="#"  trace-tracetype="3_宁波">宁波</a>
                      </li>
                    
                      <li class="Compre_Tit">
                        <a href="#"  trace-tracetype="3_南昌">南昌</a>
                      </li>
                    
                      <li class="Compre_Tit">
                        <a href="#"  trace-tracetype="3_南京">南京</a>
                      </li>
                    
                      <li class="Compre_Tit">
                        <a href="#"  trace-tracetype="3_青岛">青岛</a>
                      </li>
                    
                      <li class="Compre_Tit">
                        <a href="#"  trace-tracetype="3_泉州">泉州</a>
                      </li>
                    
                      <li class="Compre_Tit">
                        <a href="#"  trace-tracetype="3_沈阳">沈阳</a>
                      </li>
                    
                      <li class="Compre_Tit">
                        <a href="#"  trace-tracetype="3_苏州">苏州</a>
                      </li>
                    
                      <li class="Compre_Tit">
                        <a href="#"  trace-tracetype="3_天津">天津</a>
                      </li>
                    
                      <li class="Compre_Tit">
                        <a href="#"  trace-tracetype="3_温州">温州</a>
                      </li>
                    
                      <li class="Compre_Tit">
                        <a href="#"  trace-tracetype="3_无锡">无锡</a>
                      </li>
                    
                      <li class="Compre_Tit">
                        <a href="#" trace-tracetype="3_武汉">武汉</a>
                      </li>
                    
                      <li class="Compre_Tit">
                        <a href="#" trace-tracetype="3_西安">西安</a>
                      </li>
                    
                      <li class="Compre_Tit">
                        <a href="#" trace-tracetype="3_厦门">厦门</a>
                      </li>
                    
                      <li class="Compre_Tit">
                        <a href="#"  trace-tracetype="3_郑州">郑州</a>
                      </li>
                    
                      <li class="Compre_Tit">
                        <a href="#"  trace-tracetype="3_中山">中山</a>
                      </li>
                    
                      <li class="Compre_Tit">
                        <a href="#"  trace-tracetype="3_石家庄">石家庄</a>
                      </li>
                    
                      <li class="Compre_Tit">
                        <a href="#"  trace-tracetype="3_哈尔滨">哈尔滨</a>
                      </li>
                    <div class='cl'></div>
                  </ul>
            </div>

            <!-- 第三段开始 -->
          <div class="Compre_Td">       
                <div class="deline"></div>       
            <ul class="Compre_Tits g-clearfix">         
              <li class="Compre_Tit">
                <a href="#" trace-tracetype="3_安徽">安徽</a>
              </li>
            
              <li class="Compre_Tit">
                <a href="#"  trace-tracetype="3_福建">福建</a>
              </li>
            
              <li class="Compre_Tit">
                <a href="#"  trace-tracetype="3_甘肃">甘肃</a>
              </li>
            
              <li class="Compre_Tit">
                <a href="#"  trace-tracetype="3_广东">广东</a>
              </li>
            
              <li class="Compre_Tit">
                <a href="#"  trace-tracetype="3_广西">广西</a>
              </li>
            
              <li class="Compre_Tit">
                <a href="#"  trace-tracetype="3_贵州">贵州</a>
              </li>
            
              <li class="Compre_Tit">
                <a href="#"  trace-tracetype="3_海南">海南</a>
              </li>
            
              <li class="Compre_Tit">
                <a href="#"  trace-tracetype="3_河北">河北</a>
              </li>
            
              <li class="Compre_Tit">
                <a href="#"  trace-tracetype="3_河南">河南</a>
              </li>
            
              <li class="Compre_Tit">
                <a href="#"  trace-tracetype="3_湖北">湖北</a>
              </li>
            
              <li class="Compre_Tit">
                <a href="#"  trace-tracetype="3_湖南">湖南</a>
              </li>
            
              <li class="Compre_Tit">
                <a href="#"  trace-tracetype="3_江苏">江苏</a>
              </li>
            
              <li class="Compre_Tit">
                <a href="#"  trace-tracetype="3_江西">江西</a>
              </li>
            
              <li class="Compre_Tit">
                <a href="#"  trace-tracetype="3_吉林">吉林</a>
              </li>
            
              <li class="Compre_Tit">
                <a href="#" trace-tracetype="3_辽宁">辽宁</a>
              </li>
            
              <li class="Compre_Tit">
                <a href="#"  trace-tracetype="3_宁夏">宁夏</a>
              </li>
            
              <li class="Compre_Tit">
                <a href="#"  trace-tracetype="3_青海">青海</a>
              </li>
            
              <li class="Compre_Tit">
                <a href="#"  trace-tracetype="3_山东">山东</a>
              </li>
            
              <li class="Compre_Tit">
                <a href="#"  trace-tracetype="3_山西">山西</a>
              </li>
            
              <li class="Compre_Tit">
                <a href="#"  trace-tracetype="3_陕西">陕西</a>
              </li>
            
              <li class="Compre_Tit">
                <a href="#"  trace-tracetype="3_云南">云南</a>
              </li>
            
              <li class="Compre_Tit">
                <a href="#"  trace-tracetype="3_四川">四川</a>
              </li>
            
              <li class="Compre_Tit">
                <a href="#"  trace-tracetype="3_西藏">西藏</a>
              </li>
            
              <li class="Compre_Tit">
                <a href="#"  trace-tracetype="3_新疆">新疆</a>
              </li>
            
              <li class="Compre_Tit">
                <a href="#"  trace-tracetype="3_浙江">浙江</a>
              </li>
            
              <li class="Compre_Tit">
                <a href="#"  trace-tracetype="3_澳门">澳门</a>
              </li>
            
              <li class="Compre_Tit">
                <a href="#"  trace-tracetype="3_香港">香港</a>
              </li>
            
              <li class="Compre_Tit">
                <a href="#"  trace-tracetype="3_台湾">台湾</a>
              </li>
            
              <li class="Compre_Tit">
                <a href="#"  trace-tracetype="3_内蒙古">内蒙古</a>
              </li>
            
              <li class="Compre_Tit">
                <a href="#"  trace-tracetype="3_黑龙江">黑龙江</a>
              </li>  
            </ul>
          </div>
          <!-- 第四段搜索框开始 -->
        <div class="g-clearfix Compre_Ts ">
             <input class="J_SortbarLocationInput input" placeholder="多个地区用逗号分隔" value="">
              <span class="J_SortbarLocationSubmit J_SortbarLocationPopupClose btn" tabindex="0" role="button" aria-label="确定" trace="seller_location" trace-tracetype="4_">确定</span>
      </div>

          </div>
        </h4>
          

        </div>
        <div class="Compre_m">
          <h4>经营模式&nbsp;<span><img src="__PUBLIC__/images/xiala.jpg"></span></h4>
        </div>
      </article>

  </section><!--多选区域-->
  <section class="product">
     <div class="left">
        <ul>
          <foreach name='goods.data' item='v'>
          <li>
            <figure><a href="#" target="_blank"><img src="__PUBLIC__/images/product1.jpg" width="220" height="220"  alt=""/></a></figure>
            <div class="one">
              	<p>{{$v.shop_price}}</p><span>1342<a href="#" target="_blank"><img src="__PUBLIC__/images/product2.jpg" width="15" height="13"  alt=""/></a></span>
            </div>
            <h1><a href="#" target="_blank">{{$v.description}}</a></h1>
            <div class="two">
              <h2>深圳市龙华新区鑫...</h2>
              <span><img src="__PUBLIC__/images/product3.jpg" width="33" height="17"  alt=""/><img src="__PUBLIC__/images/product4.jpg" width="17" height="17"  alt=""/>1年</span>
            </div>
            <div class="thr">
               <span>广东深圳市</span>
               <figure><img src="__PUBLIC__/images/product6.jpg" width="16" height="16"  alt=""/><img src="__PUBLIC__/images/product7.jpg" width="16" height="16"  alt=""/><img src="__PUBLIC__/images/product8.jpg" width="16" height="16"  alt=""/><a href="#" target="_blank"><img src="__PUBLIC__/images/product5.jpg" width="27" height="25"  alt=""/></a></figure>
            </div>
          </li>
           </foreach>
        </ul>    
     </div><!--产品左边-->
     <div class="right">
       <h1>优质供应商</h1>
       <span><a href="#" target="_blank">更多</a></span>
       <div class="cl"></div>	
       <div class="one">
         <dl>
           <dt><a href="#" target="_blank">江苏省东台大叶女贞合创苗木</a></dt>
           <dd>主营：<a href="#" target="_blank" style=" color:#f47f3e">腊梅</a>、<a href="#" target="_blank">水杉</a>、<a href="#" target="_blank">小白杨</a>、<a href="#" target="_blank">大叶女贞</a></dd>
           <dd>地区：浙江温州市 </dd>
         </dl>
         <dl>
           <dt><a href="#" target="_blank">江苏省东台大叶女贞合创苗木</a></dt>
           <dd>主营：<a href="#" target="_blank" style=" color:#f47f3e">腊梅</a>、<a href="#" target="_blank">水杉</a>、<a href="#" target="_blank">小白杨</a>、<a href="#" target="_blank">大叶女贞</a></dd>
           <dd>地区：浙江温州市 </dd>
         </dl>
         <dl>
           <dt><a href="#" target="_blank">江苏省东台大叶女贞合创苗木</a></dt>
           <dd>主营：<a href="#" target="_blank" style=" color:#f47f3e">腊梅</a>、<a href="#" target="_blank">水杉</a>、<a href="#" target="_blank">小白杨</a>、<a href="#" target="_blank">大叶女贞</a></dd>
           <dd>地区：浙江温州市 </dd>
         </dl>
         <dl>
           <dt><a href="#" target="_blank">江苏省东台大叶女贞合创苗木</a></dt>
           <dd>主营：<a href="#" target="_blank" style=" color:#f47f3e">腊梅</a>、<a href="#" target="_blank">水杉</a>、<a href="#" target="_blank">小白杨</a>、<a href="#" target="_blank">大叶女贞</a></dd>
           <dd>地区：浙江温州市 </dd>
         </dl>
         <dl>
           <dt><a href="#" target="_blank">江苏省东台大叶女贞合创苗木</a></dt>
           <dd>主营：<a href="#" target="_blank" style=" color:#f47f3e">腊梅</a>、<a href="#" target="_blank">水杉</a>、<a href="#" target="_blank">小白杨</a>、<a href="#" target="_blank">大叶女贞</a></dd>
           <dd>地区：浙江温州市 </dd>
         </dl>
         <dl>
           <dt><a href="#" target="_blank">江苏省东台大叶女贞合创苗木</a></dt>
           <dd>主营：<a href="#" target="_blank" style=" color:#f47f3e">腊梅</a>、<a href="#" target="_blank">水杉</a>、<a href="#" target="_blank">小白杨</a>、<a href="#" target="_blank">大叶女贞</a></dd>
           <dd>地区：浙江温州市 </dd>
         </dl>
         <dl>
           <dt><a href="#" target="_blank">江苏省东台大叶女贞合创苗木</a></dt>
           <dd>主营：<a href="#" target="_blank" style=" color:#f47f3e">腊梅</a>、<a href="#" target="_blank">水杉</a>、<a href="#" target="_blank">小白杨</a>、<a href="#" target="_blank">大叶女贞</a></dd>
           <dd>地区：浙江温州市 </dd>
         </dl>
         <dl>
           <dt><a href="#" target="_blank">江苏省东台大叶女贞合创苗木</a></dt>
           <dd>主营：<a href="#" target="_blank" style=" color:#f47f3e">腊梅</a>、<a href="#" target="_blank">水杉</a>、<a href="#" target="_blank">小白杨</a>、<a href="#" target="_blank">大叶女贞</a></dd>
           <dd>地区：浙江温州市 </dd>
         </dl>
         <dl>
           <dt><a href="#" target="_blank">江苏省东台大叶女贞合创苗木</a></dt>
           <dd>主营：<a href="#" target="_blank" style=" color:#f47f3e">腊梅</a>、<a href="#" target="_blank">水杉</a>、<a href="#" target="_blank">小白杨</a>、<a href="#" target="_blank">大叶女贞</a></dd>
           <dd>地区：浙江温州市 </dd>
         </dl>
         <dl style="margin:0">
           <dt><a href="#" target="_blank">江苏省东台大叶女贞合创苗木</a></dt>
           <dd>主营：<a href="#" target="_blank" style=" color:#f47f3e">腊梅</a>、<a href="#" target="_blank">水杉</a>、<a href="#" target="_blank">小白杨</a>、<a href="#" target="_blank">大叶女贞</a></dd>
           <dd>地区：浙江温州市 </dd>
         </dl>
       </div>
      <h2>热销品牌</h2>
      <div class="cl"></div>	
      <ul class="two">
        <li><a href="#" target="_blank"><img src="__PUBLIC__/images/product9.jpg" width="238" height="218"  alt=""/></a></li>
        <li><a href="#" target="_blank"><img src="__PUBLIC__/images/product9.jpg" width="238" height="218"  alt=""/></a></li>
        <li><a href="#" target="_blank"><img src="__PUBLIC__/images/product9.jpg" width="238" height="218"  alt=""/></a></li>
        <li><a href="#" target="_blank"><img src="__PUBLIC__/images/product9.jpg" width="238" height="218"  alt=""/></a></li>
      </ul>
   
     <h3>相关产品</h3>
     <div class="thr">
       <dl>
         <dd><a href="#" target="_blank"><img src="__PUBLIC__/images/product10.jpg" width="66" height="66"  alt=""/></a></dd>
         <dt><a href="#" target="_blank">adidas贝壳系列</a></dt>
       </dl>
       <dl>
         <dd><a href="#" target="_blank"><img src="__PUBLIC__/images/product10.jpg" width="66" height="66"  alt=""/></a></dd>
         <dt><a href="#" target="_blank">adidas贝壳系列</a></dt>
       </dl>
       <dl style="margin:0;">
         <dd><a href="#" target="_blank"><img src="__PUBLIC__/images/product10.jpg" width="66" height="66"  alt=""/></a></dd>
         <dt><a href="#" target="_blank">adidas贝壳系列</a></dt>
       </dl>
       <dl>
         <dd><a href="#" target="_blank"><img src="__PUBLIC__/images/product10.jpg" width="66" height="66"  alt=""/></a></dd>
         <dt><a href="#" target="_blank">adidas贝壳系列</a></dt>
       </dl>
       <dl>
         <dd><a href="#" target="_blank"><img src="__PUBLIC__/images/product10.jpg" width="66" height="66"  alt=""/></a></dd>
         <dt><a href="#" target="_blank">adidas贝壳系列</a></dt>
       </dl>
       <dl style="margin:0;">
         <dd><a href="#" target="_blank"><img src="__PUBLIC__/images/product10.jpg" width="66" height="66"  alt=""/></a></dd>
         <dt><a href="#" target="_blank">adidas贝壳系列</a></dt>
       </dl>
       <dl>
         <dd><a href="#" target="_blank"><img src="__PUBLIC__/images/product10.jpg" width="66" height="66"  alt=""/></a></dd>
         <dt><a href="#" target="_blank">adidas贝壳系列</a></dt>
       </dl>
       <dl>
         <dd><a href="#" target="_blank"><img src="__PUBLIC__/images/product10.jpg" width="66" height="66"  alt=""/></a></dd>
         <dt><a href="#" target="_blank">adidas贝壳系列</a></dt>
       </dl>
       <dl style="margin:0;">
         <dd><a href="#" target="_blank"><img src="__PUBLIC__/images/product10.jpg" width="66" height="66"  alt=""/></a></dd>
         <dt><a href="#" target="_blank">adidas贝壳系列</a></dt>
       </dl>
       <dl>
         <dd><a href="#" target="_blank"><img src="__PUBLIC__/images/product10.jpg" width="66" height="66"  alt=""/></a></dd>
         <dt><a href="#" target="_blank">adidas贝壳系列</a></dt>
       </dl>
       <dl>
         <dd><a href="#" target="_blank"><img src="__PUBLIC__/images/product10.jpg" width="66" height="66"  alt=""/></a></dd>
         <dt><a href="#" target="_blank">adidas贝壳系列</a></dt>
       </dl>
       <dl style="margin:0;">
         <dd><a href="#" target="_blank"><img src="__PUBLIC__/images/product10.jpg" width="66" height="66"  alt=""/></a></dd>
         <dt><a href="#" target="_blank">adidas贝壳系列</a></dt>
       </dl>
     </div>
     <h4>相关搜索</h4>
     <div class="four">
       <ul>
        <li><a href="#" target="_blank">正品小白鞋</a></li>
        <li><a href="#" target="_blank">帆布小白鞋</a></li>
        <li><a href="#" target="_blank">小白鞋 白银</a></li>
        <li><a href="#" target="_blank">袁姗姗同款小白鞋</a></li>
        <li><a href="#" target="_blank">小白鞋</a></li>
        <li><a href="#" target="_blank">正品小白鞋</a></li>
        <li><a href="#" target="_blank">正品小白鞋</a></li>
        <li><a href="#" target="_blank">袁姗姗同款小白鞋</a></li>
       </ul>
     </div>
   </div><!--产品右边-->
     <div class="cl"></div>
    <div class ='page'>{{$goods.page}}</div>
  </section>
  <!--产品结束-->

  <include file="./footer" />
 <!--尾部结束-->
</div> 
</body>
</html>

