<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>{{$title}}</title>
<link href="__PUBLIC__/css/main.css" type="text/css" rel="stylesheet">
<script type="text/javascript" src='__PUBLIC__/js/jquery-1.7.2.min.js'></script>
       <script type="text/javascript" src='__PUBLIC__/js/user.js'></script>
</head>
<body>
<div class="warp">
  <header class="head">
     <ul class="login">
       <li><a href="index.html" target="_blank">云狄官网</a></li><span>|</span>
       <li><a href="#" target="_blank">帮助</a></li><span>|</span>
       <li><a href="#" target="_blank">客服</a></li><span>|</span>
     </ul>
  </header>
  <section class="logo">
   <img src="__PUBLIC__/images/logo.jpg" width="145" height="43"  alt=""/> 
   <p>护航中小型企业</p>
  </section>