<include file="header" />

  <section class="de">
    <!-- <form action="" method="POST" target="_blank"> -->
       <input type="text" placeholder="用户名/手机号/邮箱" name="account" class="deng" autocomplete="off" />
        <p>&nbsp;<br /></p>
       <input type="password" name="password" placeholder="密码" class="deng1" />
                      <p>&nbsp;<br /></p>
       <input class="cheak" type="checkbox" />&nbsp;&nbsp;&nbsp;<span>一周内自动登陆</span> <a href="{{:U('User/back')}}" style="float:right;">忘记密码</a>
                      <p>&nbsp;<br /></p>
       <input type="button" value="登陆" id='login' class="but" url="{{:U('User/login')}}" />{__TOKEN__}
       <script type="text/javascript" src='__PUBLIC__/js/user.js'></script>
     <!-- </form> -->
                      <p>&nbsp;<br /></p>
     <div class="left"></div>
     <div class="mid"><a href="{{:U('User/register')}}" target="_blank">新用户注册</a></div>
     <div class="left"></div>
  </section>
<include file="footer" />
  