<include file="header" />
  <section class="de">
    <div id="error" style="color:#f00;text-align:center;">{{$Think.get.error}}</div>
     <form action="" method="post" onsubmit="return mysubmit();"> 
       <input type="text" placeholder="手机号" name="phone" class="deng2" autocomplete="off" onchange="phoneyz(this);" />
        <p>&nbsp;<br /></p>
       <input type="password" name="keyword" placeholder="设置密码" class="deng1" />
        <p>&nbsp;<br /></p>
       <input type="password" name="keywords" placeholder="确认密码" class="deng1" />
                      <p>&nbsp;<br /></p>
        <div>
          <input  type="text" name="code" placeholder="验证码" class="code" onchange="yzmyz('{{:U('User/validation')}}');" />
          <button type="button" disabled="disabled" id="button" onclick="codes('{{:U('User/code')}}', '1');"  style='width:120px;height:40px;position: relative;top:-45px;left:205px;cursor:pointer;'>获取验证码</button>
        </div>
        <p>&nbsp;<br /></p>
       <input class="cheak" type="checkbox" />&nbsp;&nbsp;&nbsp;<span>同意云狄<a href="#" target="_blank" style="color:#0065CB"> 《服务协议》</a></span> <a href="login.html" target="_blank" style="float:right; text-decoration:underline;">已有账号</a>
                      <p>&nbsp;<br /></p>
       <input type="submit" value="注册"  id="subss"  class="but"/>   
     </form>
                      <p>&nbsp;<br /></p>
  </section>
<include file="footer" />
  
